/* * {
  border: 1px solid black;
} */

@font-face {
  font-family: "font";
  src: url("./fonts/Engcomica.otf");
}

* {
  font-family: "font";
}

.flex-container {
  display: flex;
}

.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  position: relative;
  width: 99vw;
  height: 160px;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.league-finder {
  font-size: 90px;
}

.league-finder:hover {
  transform: scale(1.1);
}

.search-form {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 450px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.search-form * {
  border-radius: 10px;
}

.search-player-label {
  font-size: 30px;
}

.search-player,
.search-player-button {
  height: 35px;
  font-size: 17px;
}

.search-player {
  width: 60%;
  opacity: 0.5;
}

.search-player-button {
  height: 100%;
  background-color: rgba(19, 12, 117, 0.651);
  color: white;
  cursor: pointer;
}

.search-player-button:hover {
  transform: scale(1.05);
}

.matches {
  width: 60vw;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 58vh;
  background-color: rgba(95, 158, 160, 0.295);
}

.data-container * {
  color: white;
}

.match {
  height: 150px;
  font-size: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.7);
  border-top: black 1px solid;
  position: relative;
}

.data-container {
  flex-direction: column;
  margin-top: 40px;
}

.data-header {
  border: 1px black solid;
  justify-content: space-around;
  align-items: center;
  height: 135px;
  width: 99.9%;
  margin-left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 127, 80, 0.7);
  padding-top: 10px;
}

.data-header * {
  font-size: 55px;
}

.items {
  display: flex;
  width: 200px;
  height: 100px;
  flex-wrap: wrap;
}

.item {
  font-size: 20px;
  width: 24%;
  height: 49%;
}

.participants {
  flex-wrap: wrap;
  flex-direction: column;
  height: 98%;
  margin-top: 10px;
  width: 20%;
}

.participant {
  font-size: 10px;
  height: 20%;
  width: 45%;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.participant:hover {
  transform: scale(1.1);
}

.player-stats {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-KDA {
  font-size: 25px;
}

.in-game-stats {
  margin-left: 15px;
}

.in-game-stats * {
  font-size: 30px;
  color: black;
}

.participant-name {
  margin-left: 5px;
  font-family: "Times New Roman", Times, serif !important;
  color: black;
  font-size: 12px;
}

.match > * {
  width: 20%;
}

.profile {
  align-items: center;
}

.player-name {
  margin-left: 10px;
}

.profile-icon {
  border: 2px solid black;
  border-radius: 10px;
}

.summoner-spells {
  margin-top: 10px;
  margin-right: -70px;
}

.champion {
  margin-top: 10px;
  margin-bottom: -5px;
}

.player-KDA {
  color: black;
}

.match-result {
  margin-left: 50px;
  margin-right: -20px;
}

.summoner-spells img {
  border: 2px solid black;
}

::-webkit-scrollbar {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 127, 80, 0.7);
  border-radius: 10px;
}

@keyframes display-info {
  0% {
    transform: translateY(-100px) scaleY(0.5);
    opacity: 0;
  }
  45% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 1;
  }
}

.match-info {
  animation-name: display-info;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.complete-match-info {
  flex-wrap: wrap;
  width: 99%;
  justify-content: space-around;
  margin: 15px 10px;
}

.player {
  width: 49%;
  justify-content: left;
}

.player > * {
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.player-info-level {
  width: 20px;
}

.player-info-champion {
  width: 40px;
}

.player-info-summoner {
  width: 125px;
  margin-left: 10px;
}

.player-info-kda {
  width: 55px;
  margin-left: 10px;
}

.player-info-cs {
  width: 55px;
  margin-left: 5px;
}

.info-button {
  position: absolute;
  left: 10px;
  font-size: 25px;
  cursor: pointer;
  color: rgba(255, 127, 80, 0.7);
}

.info-button:hover {
  transform: scale(1.2) translateX(17.5px);
}

.invalid-name {
  margin: 150px;
  margin-bottom: 565px;
  font-size: 40px;
  color: white;
}

.searching {
  margin: 150px;
  margin-bottom: 492px;
  font-size: 40px;
  color: white;
}

.no-player-search {
  font-size: 40px;
  margin: 150px;
  margin-bottom: 565px;
  color: white;
}

@keyframes insertName {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.insert-name {
  position: absolute;
  right: 110px;
  top: 200px;
  color: rgba(255, 127, 80, 0.7);
  font-size: 20px;
  animation: insertName 1s linear infinite;
  background-color: black;
  padding: 20px;
  border-radius: 45%;
}

.link-home {
  color: black;
}

.player-info-spells {
  flex-direction: column;
  margin-left: 5px;
}

.player-info-summoner-one img,
.player-info-summoner-two img {
  border: black 1px solid;
}

.server-picker {
  width: 22%;
  position: absolute;
  justify-content: space-between;
  right: 50px;
  top: 170px;
}

.server-picker > * {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.server-picker > *:hover {
  transform: scale(1.2);
}

.cors-alert-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 99vh;
  width: 99vw;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.cors-alert {
  background-color: coral;
  height: 200px;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cors-failed {
  font-size: 35px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.install-cors {
  font-size: 22px;
  margin-left: 35px;
  margin-right: 35px;
}

a {
  margin-left: 10px;
}

/* DARK MODE BUTTON(credits to Narender Saini) */

.button-holder {
  position: absolute;
  left: 30px;
  top: 20px;
  align-items: center;
  justify-content: space-around;
  width: 170px;
}

.toggle-container {
  width: 70px;
  background-color: #c4c4c4;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  padding: 2px;
  height: 32px;
  position: relative;
}

.dialog-button {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #002b49;
  color: white;
  padding: 8px 12px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  min-width: unset;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 34px;
  transition: all 0.3s ease;
}

.disabled {
  background-color: #707070;
  left: 2px;
}
